body {
    margin: 0px;
}

ul {
    list-style-type: none;
}

/* TOP SECTION */
.top {
    background-color: #1F2937;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.box {
    height: 50px;
    width: 50px;
    border-color: blue;
    border-style: double;
}

/* CONTENT 1 */

/* CONTENT 2 */

.content-2 {
    background-color: #E5E7EB;
    padding: 8%;
}